/* ------------------------------------------------------------------------ */
/* section 1 */

.image-container {
  width: 60vw;
  max-width: 600px;
  position: relative;
}

.black-background {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.header-image {
  width: 100%;
  height: 100%;
}

.name {
  position: absolute;
  top: 30%;
  left: -60%;
}

.name h2 {
  font-size: clamp(22px, 7vw, 95px);
  letter-spacing: 4px;
}

.name .last {
  margin: 100px 0 0 50px;
}

.position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 220px;
  width: clamp(280px, 25vw, 450px);
}

.position > div {
  width: clamp(30px, 3vw, 70px);
  height: 2px;
  background-color: white;
  margin-right: 20px;
  border-radius: 10px;
}

.position h2 {
  letter-spacing: 2px;
  font-size: clamp(16px, 1vw, 26px);
}


/* ------------------------------------------------------------------------ */
/* section 2 */

.section-title {
  font-size: 40px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.section-title::after {
  content: 'portfolio';
  position: absolute;
  top: -15px;
  left: -100px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.294);
  color: transparent;
  letter-spacing: 5px;
}

/* portfolio */

.portfolio-content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 100px;
}

.portfolio-card {
  right: 0;
  padding: 50px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  min-width: 280px;
  color: white;
  overflow: hidden;
}

.count {
  position: absolute;
  font-size: 16px;
  top: 0;
  left: -20px;
  transform: translateY(-50%);
  z-index: 1;
  color: black;
}

.portfolio-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-title h3 {
  color: white;
  font-size: clamp(18px, 3vw, 35px);
  letter-spacing: 5px;
  font-weight: 400;
  display: inline-block;
  text-transform: capitalize;
  margin-top: 10px;
}

.project-image {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}


/* ------------------------------------------------------------------------ */
/* section 3 */

.about-me::after {
  content: 'À propos';
}

.background-image-container {
  width: 80vw;
  max-width: 1000px;
  position: relative;
  max-height: 500px;
}

.background-image-container img {
  object-fit: cover;
}

.details {
  position: relative;
  top: -100px;
  font-size: clamp(14px, 2vw, 20px);
  font-family: 'Roboto Mono', sans-serif;
}

.details h2 {
  font-family: 'Druk Wide Bold', sans-serif;
  font-size: clamp(20px, 1.4vw, 28px);
}

.details .bio {
  max-width: 600px;
  font-weight: 300;
  margin-top: 15px;
}

.details a {
  color: white;
  text-decoration: underline;
  transition: all .2s ease-in-out;
}

.details a:hover {
  color: gray;
}

.program {
  margin-top: 20px;
}

li {
  margin-left: 22px;
}


/* ------------------------------------------------------------------------ */
/* section 4 */

.contact::after {
  content: 'Contact';
}

span {
  font-size: clamp(10px, 2.5vh, 23px);
}

span > div {
  margin-top: 20px;
}

span p {
  cursor: pointer;
  font-family: 'Roboto Mono', sans-serif;
  font-size: clamp(10px, 3vh, 38px);
  margin-left: 22px;
  transition: all .2s ease-in-out;
}

span p:hover {
  color: gray;
  font-size: clamp(14px, 4vh,42px);
}

.contact-list-icon {
  font-size: 22px;
}


/* ------------------------------------------------------------------------ */
/* section 4 */

.footer {
  font-family: 'Roboto Mono', sans-serif;
  font-size: clamp(10px, 3vh, 38px);
}

.tech {
  color: gray;
  font-size: clamp(8px, 2vh, 20px);
}

/* ------------------------------------------------------------------------ */
/* Responsive */
/* Mobile */

@media screen and (max-width: 480px) {
  .name {
    position: unset;
  }

  .position {
    position: unset;
  }

  .section-title {
    font-size: 36px;
  }

  .section-title::after {
    top: -10px;
    left: -25px;
  }

  .details {
    top: 20px;
  }

  span p {
    font-size: 18px;
  }

  .contact-list-icon {
    font-size: 18px;
  }
}

/* Portrait tablet */

@media screen and (min-width: 481px) and (max-width: 768px) {
  
}

/* Landscape tablet, small desktop */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .name {
    position: unset;
  }

  .position {
    position: unset;
  }
}

/* Desktop */

@media screen and (min-width: 1025px) and (max-width: 1200px) {

}

/* Extra-large, TV */

@media screen and (min-width: 1201px) {
  
}
